<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome">

        <label for="peso">Peso': </label>
        <input type="number" name="peso" id="peso">

        <label for="valor">Valor': </label>
        <input type="number" name="valor" id="valor" step="0.01">    
        
        <button type="submit">Enviar</button>
    </form>
</body>
</html>